
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
 font-family: Verdana, Helvetica, sans-serif;
 font-size: 25pt;
 background: white ; 
 color: #0bbaf4;
 margin:0;
}

input[type=text], input[type=password]{
	padding: 20px;
	display: inline-block;
  	float: left;
  	margin:2px;
}

form{
	padding:40px;
	display:inline-block;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    padding: 50 px;
}
 
input[type=button], input[type=submit], input[type=reset] {
  background-color: #d8d8d8;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size:15pt;
  font-weight:bold;
  float: center;
  
}

#link{
	font-size:9pt;
	 color: black;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
	position: relative;
  display: none;
  color: black;
  margin-left:auto;
  margin-right:auto;
}

/* Next and previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #0bbaf4;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.spotListImg{
	width: 300px;
    height: 200px;
}


